
body {
    background-color: grey;
}

/**************/
/* Les cards  */
/**************/
.card {
    background-color: whitesmoke;
    width: 20%;
    height: 200px;
    border-radius: 10px;
}

/* L'image dans la card */
.card img {
    width: 100px;
    height: 100px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    margin: 0;
}

.card h3 {
    font-family: anton;
    font-size: 12px;
}
.card h4 {
    font-family: anton;
    color: grey;
    font-size: 10px;
}
/**********************/